.App {
  background: #171717;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
  background-color: rgb(255, 255, 255, .1);
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  border: none;
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  visibility: visible;
}